{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
    <h1>Create Matches</h1>

    {{ form_start(form) }}
    {{ form_row(form.leagueId) }}
    {{ form_row(form.round) }}
    {{ form_row(form.seasonYear) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
