{% extends 'base.html.twig' %}

{% block title %}
    {{ league_api.name }} - Round {{ roundId }} Games
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ league_api.name }} - Round {{ roundId }} Games</h1>

        {% if games is not empty %}
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Score1</th>
                        <th>Score2</th>
                        <th>Banner</th>
                        <th>DateMatch</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                        <tr>
                            <td>{{ game.id }}</td>
                            <td>{{ game.score1 }}</td>
                            <td>{{ game.score2 }}</td>
                            <td><img src="{{ game.banner }}" alt="Banner" style="max-width: 100px;"></td>
                            <td>{{ game.dateMatch ? game.dateMatch|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">No records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if games[0].isFinished is not defined or games[0].isFinished == false %}
                <a href="{{ path('app_league_api_update_scores', {'leagueId': league_api.id, 'roundId': roundId}) }}" class="btn btn-warning">Update Scores</a>
            {% endif %}
        {% else %}
            <p>No games available for this round.</p>
        {% endif %}

        <a href="{{ path('app_league_api_index') }}" class="btn btn-primary">Back to List</a>
    </div>
{% endblock %}
