{% extends 'base.html.twig' %}

{% block title %}
    {{ league_api.name }} - Round {{ roundId }} Games
{% endblock %}

{% block body %}
    <h1>{{ league_api.name }} - Round {{ roundId }} Games</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Score1</th>
                <th>Score2</th>
                <th>Banner</th>
                <th>DateMatch</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <td>{{ game.id }}</td>
                    <td>{{ game.score1 }}</td>
                    <td>{{ game.score2 }}</td>
                    <td><img src="{{ game.banner }}"></td>
                    <td>{{ game.dateMatch ? game.dateMatch|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_league_api_rounds', {'id': league_api.id}) }}">Back to Rounds</a> #}
    <a href="{{ path('app_league_api_index') }}">Back to List</a>
{% endblock %}
