    {% extends 'base.html.twig' %}

    {% block title %}
        {{ league_api.name }} - Tours
    {% endblock %}

    {% block body %}
        <div class="container mt-5">
            <h1>{{ league_api.name }} - Tours</h1>

            <div class="list-group">
                {% for round in rounds %}
                    <a href="{{ path('app_league_api_games_by_round', {'id': league_api.id, 'roundId': round}) }}"
                    class="list-group-item list-group-item-action">
                        Tour {{ round }}
                    </a>
                {% endfor %}
            </div>

            <a href="{{ path('app_league_api_index') }}" class="btn btn-primary mt-4">Retour à la liste</a>
        </div>
    {% endblock %}
